<div class="row">
    <div ng-controller="NavController" class="col-md-12 text-center">
        <ul class="nav nav-pills nav-justified">
            <li ng-class="{ active: isActive('/dashboard')}"><a href="#dashboard">Dashboard</a></li>
            <li ng-class="{ active: isActive('/dailydata')}"><a href="#dailydata">Daily Data</a></li>
            <li ng-class="{ active: isActive('/medications')}"><a href="#medications">Medications</a></li>
            <li ng-class="{ active: isActive('/conditions')}"><a href="#conditions">Conditions</a></li>
        </ul>
    </div>
</div>