/* To clear floats when they're misbehaving*/
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.patientImg {
    width: 100px;
    height: 100px;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px 5px;
}